<div
  (click)="showSettings()"
  class="container"
  [style]="'--color: ' + activeColor"
>
  <div class="top" [class.active]="!isTopActive"></div>
  <div class="bot" [class.active]="isTopActive"></div>

  <ng-container *ngIf="isShowSettings">
    <label class="settings font-color-picker-button">
      <img class="img" src="/assets/icon/color-droplet.svg" />
      <div class="color-wrapper">
        <input
          id="fontColorPicker"
          type="color"
          name="color"
          [(ngModel)]="activeColor"
        />
      </div>
    </label>

    <div class="settings timer">
      <ion-range
        min="1"
        max="300"
        pin
        [(ngModel)]="switchDuration"
        (ngModelChange)="updateInterval()"
        color="secondary"
      >
        <ion-icon slot="start" size="small" name="timer-outline"></ion-icon>
        <ion-icon slot="end" name="timer-outline"></ion-icon>
      </ion-range>
    </div>
  </ng-container>
</div>
